<div class="row">
    <div class="small-12 large-12 columns">

  <br>
  <br>

  <div class="row">
      <div ng-controller="projectsCtrl">
        <form class="project_form" ng-submit="updateProject()"  ng-init="project={}">
          <div class="row">
            <div class="large-12 columns">
              <input id="project_field_title" type="text" ng-model="project.name" placeholder="film title">

            </div>
          </div>


        <div class="row">
          <div class="large-3 columns large-left">
            <input id="project_field_data" type="text" ng-model="project.location" placeholder="location">
            <input id="project_field_data" type="text" ng-model="project.description" placeholder="description">
          </form>




          </div>
          <div class="large-9 columns">
            <div ng-controller="charactersCtrl">
              <div ng-repeat="character in characters">
                <div class="panel" id="character_panel">
                    <h3>{{character.name}}</h3>
                  <div class="row">
                    <div class="large-4 columns">
                      <p>{{character.age}} years old </p>
                    </div>
                    <div class="large-4 columns">
                      <p>{{character.gender}}</p>
                    </div>
                    <div class="large-4 columns">
                      <p>{{character.height}} feet tall</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-4 columns">
                      <p>{{character.weight}} pounds</p>
                    </div>
                    <div class="large-4 columns">
                      <p>{{character.eye_color}} eyes</p>
                    </div>
                    <div class="large-4 columns">
                      <p>{{character.hair_color}} hair</p>
                    </div>
                  </div>








                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    <br>














  </div>
</div>
