<div ng-controller="projectsCtrl">
  <div class="row">
    <div class="large-12 columns">
      <h1>{{project.name}}</h1>
    </div>

  <div class="row">
    <div class="large-3 columns large-left">
      <h3>{{project.location}}</h3>
      <h3>{{project.description}}</h3>
    </div>
    <div class="large-9 columns" ng-controller="charactersCtrl">
      <a href="" id="new_char_button" class="button expand">Add a Character
      <div id="hide_this" class="row">
        <div class="large-centered large-10 columns">
          <form ng-submit="saveCharacter()" ng-init="character={}">

            <br>
            <br>

            <input type="text" ng-model="character.name" placeholder="name">

            <input type="text" ng-model="character.age" placeholder="age">

            <input ng-model="character.gender" type="radio" name="sex" value="male">Male<br>

            <input ng-model="character.gender" type="radio" name="sex" value="female">Female

            <input type="text" ng-model="character.height" placeholder="height">

            <input type="text" ng-model="character.weight" placeholder="weight">

            <input type="text" ng-model="character.eye_color" placeholder="eye color">

            <input type="text" ng-model="character.hair_color" placeholder="hair color">

            <button class="btn btn-primary">add the character</button>

          </form>

        </div>
      </div></a>


      <div ng-repeat="character in characters">

        <div class="panel" id="character_panel">
            <h3>{{character.name}}</h3>

            <div class="row">
              <div class="large-4 columns">
                <p>{{character.age}} years old </p>
              </div>
              <div class="large-4 columns">
                <p>{{character.gender}}</p>
              </div>
              <div class="large-4 columns">
                <p>{{character.height}} feet tall</p>
              </div>
            </div>

            <div class="row">
              <div class="large-4 columns">
                <p>{{character.weight}} pounds</p>
              </div>
              <div class="large-4 columns">
                <p>{{character.eye_color}} eyes</p>
              </div>
              <div class="large-4 columns">
                <p>{{character.hair_color}} hair</p>
              </div>
            </div>

        </div>

      </div>



    </div>









































<script>
  $(document).ready(function () {
    $('#hide_this').hide();
    $("#new_char_button").click(function(){
      $('#hide_this').slideDown("slow");
      $('#new_char_button').height('450px', "slow");
    });
  });

</script>
