  <div class="row">
    <div class="small-12 large-12 columns">

  <br>
  <br>

  <div class="row">
      <div ng-controller="projectsCtrl">
        <form class="project_form" ng-submit="updateProject()"  ng-init="project={}">
          <div class="row">
            <div class="large-12 columns">
              <input id="project_field_title" type="text" ng-model="project.name" placeholder="film title">

            </div>
          </div>

        <div class="row">
          <div class="large-3 columns large-left">
            <input id="project_field_data" type="text" ng-model="project.location" placeholder="location">
            <input id="project_field_data" type="text" ng-model="project.description" placeholder="description">
          </form>
          </div>
          <div class="large-9 columns">
            <div ng-controller="charactersCtrl">


                <div class="panel" id="new_character">
                  <form ng-submit="saveCharacter()" ng-init="character={}">
                    <input type="text" id="char_name" ng-model="character.name" placeholder="name">
                    <div class="row">
                      <div class="large-4 columns">
                        <input type="text" ng-model="character.age" placeholder="age">
                      </div>
                      <div class="large-4 columns">
                        <input type="text" ng-model="character.gender" placeholder="gender">
                      </div>
                      <div class="large-4 columns">
                        <input type="text" ng-model="character.eye_color" placeholder="eye color">
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-4 columns">
                        <input type="text" ng-model="character.hair_color" placeholder="hair color">
                      </div>
                      <div class="large-4 columns">
                        <input type="text" ng-model="character.weight" placeholder="weight">
                      </div>
                      <div class="large-4 columns">
                        <input type="text" ng-model="character.height" placeholder="height">
                      </div>
                    </div>





                    <button class="btn btn-primary">add the character</button>
                  </form>
                </div>



              <div ng-repeat="character in characters">
                <div class="panel" id="character">
                  <h5>{{character.name}}</h5>
                  <p>{{character.age}}</p>
                  <p>{{character.height}}</p>
                  <p>{{character.weight}}</p>
                  <p>{{character.eye_color}}</p>
                  <p>{{character.hair_color}}</p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    <br>















  </div>
</div>
