#actor_card {
  margin: 30px;
}

.actor_pic_table {
  height: 170px;
}



h1 {
  font-size: 35px;
}

h3 {
  font-size: 18px;
}



#new_char_button {
  background-color: white;
  border: 1px solid black;
  color: black;
  letter-spacing:10px
}

#char_name {
  text-align: center;
}

.add_character {

/*  background-color: rgba(22, 160, 133,.5);*/
  padding: 10px;
  border: .5px solid black;
}

#character_panel {
  background-color : transparent;
}
